/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px){
.header-bottom-area::before {
  width: 19%;
}	
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.header-bottom-area::before {
  width: 17%;
}
.header-bottom-heading h4 i {
  right: 19px;
}
.search-icon {
  margin-left:0px;
}
.header-search {
  right: 48px;
}
.feature-info p {
margin:0;}
.feature-info {
  margin-top: 20px;
}
.feature-img-info > p {
  font-size: 12px;
}
.slider-content h1, .slider-content h3 {
  margin-bottom: 12px;
}
.single-top-news-info a h3 {
  margin-top: 15px;
  font-size: 21px;
}
.single-all-news-text {
  margin-top: 8px;
  padding: 0 8px;
}
.feature-info {
  padding-right: 0;
}
/* news-details-page */
.news-details-sidebar-about > p {
  padding-right: 50px;
}
.popular-post-text > span {
  font-size: 13px;
}
.brand-area .owl-carousel .owl-controls .owl-nav div {
  right: -30px;
  width: 35px;
}     
 .brand-area .owl-carousel .owl-controls .owl-nav div.owl-next {
  left: -30px;
}   
    
    
    
    
    
    
    
    
}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.header-bottom-area::before {
  width: 26%;
}
.header-bottom-heading h4 i {
  right: 19px;
}	
.search-icon {
  margin-left:0px;
}
.slider-content h1{
  font-size: 35px;
  margin-bottom: 10px;
}
.slider-content h3 {
  margin-bottom: 10px;
  font-size: 18px;
}
.feature-info {
  margin: 0;
}
.single-feature {
  width: 40%;
}
.feature-img-info > p {
  font-size: 13px;
}
.feature-info {
  padding-right: 0;
}
/* news-details-page */
.news-details-sidebar-about > p {
  padding-right: 0px;
}
.single-releted-post-img a h4 {
  font-size: 14px;
}
.single-releted-post-all-text.pt-35 {
  padding-top: 0;
}
.related-massage.web {
  margin-top: 20px;
}
.related-massage textarea {
  height: 112px;
}
.sidebar-post-tag > ul {
  padding-right: 0;
}
.tag-search form input {
  width: 100%;
}
.portfolio-text{
	margin-top:10px;
}
.portfolio-text > span {
  font-size: 12px;
}
.portfolio-icon > a {
  margin: 0 4px;
}
    
.brand-active .owl-controls {
  display: none;
}    
 #playlist span {
  padding-top: 15px;
}  
.single-portfolio-content > p {
  padding-right: 0;
} 
    
    
    
    
    
    
    
    
    
}

 
/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
.logo {
  margin: 20px 0;
} 
.sign-up {
  margin-left: 44px;
}
.search-box {
  text-align: center;
}
.search-icon {
margin-left:0;
}
.header-search {
  right: 5px;
}
.single-feature {
  width: 100%;
  margin-top: 30px;
}
.feature-news-area {
  margin-top: -35px;
}
.feature-news {
  padding: 0px;
}
.feature-img-info > p {
  font-size: 13px;
}
.feature-info {
  padding: 15px 15px 0;
  width: 100%;
  margin-top: 0;
}
.slider-content h1 {
  font-size: 15px;
  margin-bottom: 0;
}
.container > h3 {
  font-size: 11px;
  margin:  10px 0;
}
.new-catagories-area {
  padding-bottom: 60px;
}
.single-caragory {
  margin-bottom: 30px;
}
ul.top-news-menu li a {
  padding: 15px 21px;
  margin:  5px 2px;
}
.single-top-news-info a h3 {
  font-size: 20px;
}
.update-news > a {
  margin: 8px 0;
}

.single-artcle, .single-today-feature {
  margin-bottom: 30px;
}
.footer-widget {
  margin-bottom: 30px;
}
.footer-area-area {
  padding-bottom: 60px;
}
.copyright-left > span {
  text-align: center;
  margin-bottom: 20px;
}
.text-right {
  text-align: center;
}
.video-left {
  height: 150px;
  width: 100%;
  margin-bottom: 30px;
}
#player > div {
  width: 100%; 
}
/* home-2 */
.header-area-2 {
  overflow: hidden;
  padding: 0;
  position: static;
  text-align: center;
}
.slider-area-2 .owl-carousel .owl-controls .owl-dots {
  bottom: 12px;
}
.portfolio-area {
  padding-bottom: 60px;
}
.projects-wrapper {
  margin: 0;
}
.single-item {
  margin-bottom: 30px;
}
.portfolio-img > a {
  display: block;
}
.portfolio-img img{
	width:100%;
}
/* news-details-page */
.news-details-top-text h3 {
  font-size: 18px;
}
.news-details-icon {
  margin-top: 10px;
  float: none;
}
.single-releted-post {
  margin-bottom: 30px;
}
.single-releted-post-all-img {
  width: 100%;
}
.single-releted-post-img > img {
  width: 100%;
}
.single-releted-post-all-img > img {
  width: 100%;
}
.single-releted-post-all.border-2.ptb-40.fix {
  padding-bottom: 10px;
}
.releted-post-blog {
  padding-bottom: 0;
}
.single-releted-post-all-text {
  padding-left: 0;
  width: 100%;
}
.single-releted-post-all-text.text-2 {
  margin-top: 20px;
}
.related-massage {
  margin-bottom: 20px;
  margin-top: 0;
}
.news-details-sidebar-about > p {
  padding-right: 0;
}
.tag-search form input {
  width: 100%;
}
.single-portfolio-content > p {
  padding-right: 0;
}
.header-top-left {
  text-align: center;
}
 .brand-area .owl-carousel .owl-controls .owl-nav div {
  right: -10px;
  width: 50px;
}    
.brand-area .owl-carousel .owl-controls .owl-nav div.owl-next {
  left: -10px;
}    
  .section-title > h3 {
  font-size: 25px;
}    
.single-all-news-text {
  margin-top: 0;
  padding: 0 10px;
}    
#player > div {
  padding-left: 0;
}    
#playlist span {
  padding-top: 16px;
}    
 .page_head ul li {
  margin: 0 20px;
}      
.ptb-200 {
  padding: 120px 0;
}    
.mgn-nn {
  margin-bottom: 0;
}    
.ptb-90 {
  padding: 50px 0;
}
    .pt-90 {
  padding-top: 50px;
}    
.pb-90 {
  padding-bottom: 50px;
}    
    
    
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.feature-img a, .single-caragory a, .article-img a {
  display: block;
} 
.feature-img img, .single-caragory img, .article-img img {
  width: 100%;
}
.single-top-news {
  text-align: center;
}
.single-top-news-info {
  padding: 0 40px 33px;
  text-align:left;
}
.single-all-news-list {
  padding: 25px;
}
.single-top-news-right-img {
  text-align: center;
}
.sign-up {
  margin-left: 116px;
}
.header-search {
  right: 100px;
}
.brand-area .owl-carousel .owl-controls .owl-nav div {
  right: -20px;
  width: 35px;
}    
.brand-area .owl-carousel .owl-controls .owl-nav div.owl-next {
  left: -20px;
}    
   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}
 
