/* -----------------------------------
Template:  Theme Name

NOTE: This is instagram style file. All instagram related style included in this file.

--------------------------------------*/
.instagram-slider{}
.single-slider{
	overflow:hidden;
}
.single-slider a{
	position:relative;
	display:inline-block;
}
.single-slider a img{}
.single-slider > a:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  opacity: 0;
  transition: all .4s;
  z-index:11;
}
.single-slider > a:hover:before{opacity:.8;}
.single-slider > a:after {
  position: absolute;
  content: "\f34f";
  font-family: Material-Design-Iconic-Font;
  top: 45%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: #fff;
  transform: scale(4);
  transition: all 0.3s ease 0s;
  opacity:0;
  z-index:12;
}
.single-slider > a:hover:after{
	transform:scale(2);
	opacity:1;
}





 