/*

Template:  
Author: 
Version: 1
Design and Developed by: 

Note: This is Short code style file. All Short code related style included in this file. 

*/

@import url("default.css");
@import url("header.css");
@import url("slider.css");
@import url("feature.css");
@import url("catagory.css");
@import url("top-news.css");
@import url("article.css");
@import url("instagram.css");
@import url("protfolio.css");
@import url("news-details.css");
@import url("news-view.css");
@import url("footer.css");